<style>
     body {
       background-color: #ebd8b7;}
     hr {
       border-style: none;
       border-top-style: dotted;
       border-color: #c6a9a3;
       border-width: 6px;
       width: 6%;}
    h1 {color: #314e52; font-family: 'Montserrat', sans-serif;}
    h2 {color: #314e52; font-family: 'Montserrat', sans-serif;}
    h3 {font-family: 'Montserrat', sans-serif;}
    h4 {font-family: 'Montserrat', sans-serif;}
    h5 {font-family: 'Montserrat', sans-serif;}
    h6 {font-family: 'Montserrat', sans-serif;}
  

        </style>
